<div class="px-11 mt-24">
    <p class="text-4xl font-semibold text-[#e5c107] text-center">Activities</p>
    <div class="grid auto-cols-auto auto-rows-auto">
        <div>
            <p>1</p>
        </div>
        <div>
            <p>1</p>
        </div>
        <div>
            <p>1</p>
        </div>
        <div>
            <p>1</p>
        </div>
        <div>
            <p>1</p>
        </div>
        <div>
            <p>1</p>
        </div>
        <div>
            <p>1</p>
        </div>
        <div>
            <p>1</p>
        </div>
    </div>
</div>