<div class="px-11 mt-24">
    <p class="text-4xl font-semibold text-[#e5c107] text-center">About us</p>
    <div class="flex items-center justify-evenly mt-8">
        <div class="flex flex-col">
            <img class="border-4 border-[#e5c107] p-0.5 rounded-[100%] w-64 h-64 object-cover object-center" src="https://images.unsplash.com/photo-1500048993953-d23a436266cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" />
            <p class="text-center mt-2 text-[#e5c107] font-semibold">Full Name</p>
            <p class="text-center">Role of the person</p>
        </div>
        <div class="flex flex-col mx-4">
            <img class="border-4 border-[#e5c107] p-0.5 rounded-[100%] w-64 h-64 object-cover object-center" src="https://images.unsplash.com/photo-1500048993953-d23a436266cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" />
            <p class="text-center mt-2 text-[#e5c107] font-semibold">Full Name</p>
            <p class="text-center">Role of the person</p>
        </div>
        <div class="flex flex-col">
            <img class="border-4 border-[#e5c107] p-0.5 rounded-[100%] w-64 h-64 object-cover object-center" src="https://images.unsplash.com/photo-1500048993953-d23a436266cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" />
            <p class="text-center mt-2 text-[#e5c107] font-semibold">Full Name</p>
            <p class="text-center">Role of the person</p>
        </div>
    </div>
    <div class="w-full h-auto mt-8">
        <div class="bg-[#e5c107] w-full h-auto rounded-md p-6">
            <p class="text-white text-2xl font-semibold">About Youth Commission Mylapore Madras</p>
            <p class="text-white text-base mt-2 break-words w-4/5">Youth Commission Chennai is the umbrella youth organization of the Archdiocese of Madras-Mylapore consisting of movements: CCYM and YCS/YSM, which strive to build a new society, God's kingdom based on the values of love, peace, truth, equality & justice.</p>
            <span class="inline-block mt-6 w-auto h-auto bg-white text-[#e5c107] font-semibold px-4 py-2 rounded-md">
                Want to know more
            </span>
        </div>
    </div>
</div>