
<!-- Footer Design Start -->
<div class=" col-lg-12 col-md-12 " id ="Contactus">
    <footer class="text-center text-lg-start text-white" style="background-color: #161718">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Our.Lady.of.Fatima, 1917
              </h6>
              <p>
                “Say the Rosary every day to obtain peace for the world.”
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Website Info</h6>
              <p><a class="text-white" (click)="navtohome()">Home</a> </p>
              <p> <a class="text-white"  (click)="navtoaboutus()">About us</a></p>
              <p><a class="text-white" (click)="navtoteams()">Teams</a></p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold"> OUR ADDRESS</h6>
              <p><i class="fas fa-home mr-3"></i> Archdiocesan Pastoral Centre</p>
              <p><i class="fas fa-envelope mr-3"></i> No.25, Rosary Church Road, Basha Garden, Mylapore, Chennai, Tamil Nadu 600004</p>

            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
          
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
       YouthCommision.com © 2022 All rights reserved
        <!-- <a class="text-white" href="https://mdbootstrap.com/">youthcommsion.com</a> -->
      </div>
      <!-- Copyright -->
      <!-- PrivacyPolicies.com © 2002 - 2022 All rights reserved -->
    </footer>
  </div>
  
  <!-- Footer Design End -->